#first {
    height: 50vh;
    width: 100vh;
    background-color: #43D2FF;
    margin:10px;
    position: relative;
}

.one{
    position: absolute;
    top: 0;
    left: 0;

}

.two{
    position: absolute;
    margin-top: 0;
    right: 0;
    
    
}
.three{
    position: absolute;
    bottom: 0;
    
}

.four{
    position: absolute;
    bottom: 0;
    right: 0;
}

.five{
    position: absolute;
    top:40%;
    left: 45%;

    
}

#second {
    position: relative;
    height: 50vh;
    width: 100vh;
    background-color: #43D2FF;
    margin-top: 10px;

}

img{
    height: 100px;
    width: 100px;
}

.six{
    position: absolute;
    top: 45%;
    left: 38%
}

.seven {
    position: absolute;
    top: 45%;
    right: 37%
    
}